<% if @list.category %>
  <p><%= link_to @list.category.name, category_path(@list.category_id) %></p>
<% end %>
<h1 style="margin-top:0px;"><%= @list.name %></h1>
<p><%= @list.body.try(:html_safe) %></p>

<section class="cf w-100 pa2-ns">
  <%= render partial: 'lists/list_item', collection: @list_items %>
</section>
