<% if @list.category %>
  <p><%= link_to @list.category.name, category_path(@list.category_id) %></p>
<% end %>
<h1 style="margin-top:0px;"><%= @list.name %></h1>
<p><%= @list.body.try(:html_safe) %></p>

<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'lists/list_item', collection: @list_items %>
  </div>
</div>
