<div class="row">
  <div class="col-xs-12">
    <div class="pull-right">
      <%= render partial: "lists/actions" %>
    </div>
    <h3>List/Review</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= render 'lists/form' %>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-xs-12">
    <h4>List Items</h4>
    <%= link_to("Add items to the list", new_list_item_path(@list), class: "btn btn-default btn-block") %>
    <hr/>
    <ul style='list-style-type: none;padding:0;'>
      <%= render partial: "lists/list_item", collection: @list_items %>
    </ul>
  </div>
</div>

<script src="https://cdn.rawgit.com/basecamp/trix/e34a0db3c9e0ca303488227fceb6cd9b33cfdd09/dist/trix.js" charset="utf-8"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/basecamp/trix/e34a0db3c9e0ca303488227fceb6cd9b33cfdd09/dist/trix.css" media="screen" title="no title" charset="utf-8">
