<div class="measure-wide center">
  <h3>List/Review</h3>
  <%= render partial: "lists/actions" %>
</div>

<div class="cf measure-wide center">
  <hr/>
  <%= render 'lists/form' %>
  <hr/>
</div>

<div class="measure center">
  <h4 class="tc">List Items</h4>
  <%= link_to("Add Items To This List!", new_list_item_path(@list), class: "#{SimpleForm.button_class} w-100 db tc link b--blue hover-white hover-bg-blue") %>
</div>

<script src="https://cdn.rawgit.com/basecamp/trix/e34a0db3c9e0ca303488227fceb6cd9b33cfdd09/dist/trix.js" charset="utf-8"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/basecamp/trix/e34a0db3c9e0ca303488227fceb6cd9b33cfdd09/dist/trix.css" media="screen" title="no title" charset="utf-8">
