<div class="cf">
  <div class="fl-ns w-two-thirds-ns">
    <div class="measure-wide center">
      <h2 class="tc">Create a New Post</h2>
      <%= render 'lists/form' %>
    </div>
  </div>
  <div class="fl-ns w-third-ns">
    <% if @drafts.present? %>
      <h2>drafts</h2>
      <ul style="">
        <% @drafts.each do |list| %>
          <%= edit_account_list_path %>
          <li><%= link_to list.name, edit_account_list_path(current_account, list) %></li>
        <% end %>
      </ul>
    <% end %>

    <% if @published.present? %>
      <h3>published</h3>
      <ul>
        <% @published.each do |list| %>
          <li><%= link_to list.name, edit_account_list_path(current_account, list) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
