<div class="measure center">
  <h1>Find More Sources!</h1>
  <div class="measure center">
    <%= simple_form_for(@article) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :url, as: :url %>
      </div>
    <% end %>
  </div>

  <script !src="">
    $("#article_url").on('change paste', function(e) {
      this.form.submit();
    })
  </script>
</div>
