<% get_started_form = capture do %>
  <%= form_for(User.new(params.slice(:email)), url: registration_path(:user), html: {class: 'bg-transparent mw7 center pv0 ph4 bn'}) do |f| %>
    <fieldset class="cf ba br3 bw2 b--white ma0 pa0">
      <label class="clip" for="user_email">Email Address</label>
      <%= f.email_field(:email, required: true, autofocus: 'autofocus', placeholder: "awesome-possum@gmail.com...", class: 'f5 f4-l input-reset tc bn fl black-80 bg-white pa3 lh-solid w-100 w-60-m w-two-thirds-l br2-ns br--left-ns') %>
      <input class="f5 f4-l button-reset fl pv3 tc bn bg-animate bg-black-60 hover-bg-white white hover-black pointer w-100 w-40-m w-third-l br2-ns br--right-ns" type="submit" value="Get Started">
    </fieldset>
  <% end %>
<% end %>

<% content_for(:landing_header) do %>
  <h1 class="f2 f1-ns fw1 mt0 pt0 mb4 mb4-ns mw7 center lh-title">
    We Help You Read Content that you Want To!</h1>

  <h2 class="fw3 f3 f2-ns mw6 center tl mv4 mv5-ns">
    With a link to any article, We find your Preferred Sources for the same content
  </h2>

  <%= get_started_form %>
<% end %>
