<% get_started_form = capture do %>
  <%= form_for(User.new(params.slice(:email)), url: registration_path(:user), html: {class: 'bg-transparent mw7 center pv0 ph4 bn'}) do |f| %>
    <fieldset class="cf ba br3 bw2 b--white ma0 pa0">
      <label class="clip" for="user_email">Email Address</label>
      <%= f.email_field(:email, required: true, autofocus: 'autofocus', placeholder: "awesome-possum@gmail.com...", class: 'f5 f4-l input-reset tc bn fl black-80 bg-white pa3 lh-solid w-100 w-60-m w-two-thirds-l br2-ns br--left-ns') %>
      <input class="f5 f4-l button-reset fl pv3 tc bn bg-animate bg-black-60 hover-bg-white white hover-black pointer w-100 w-40-m w-third-l br2-ns br--right-ns" type="submit" value="Get Started">
    </fieldset>
  <% end %>
<% end %>

<% content_for(:landing_header) do %>
  <h1 class="f2 f1-ns fw1 mt0 pt0 mb4 mb4-ns mw7 center lh-title">
    We organize <em>dozens</em> of complex technical <strong>systems</strong> so you can focus on
    <span class="underline white fw4">Creating Beautiful Content</span>
  </h1>

  <h2 class="fw3 f3 f2-ns mw6 center tl mv4 mv5-ns">
    Our <span class="text-shadow underline">Bot</span> is Your Next Employee...
  </h2>

  <%= get_started_form %>
<% end %>

<article class="pb4">
  <div class="ph3 ph5-ns">
    <div class="cf mw9 center tc-m">
      <div class="fl w-100 overflow-auto v-top">
        <!--<iframe src="https://ghbtns.com/github-btn.html?user=blairanderson&amp;repo=lister&amp;type=star&amp;count=true" frameborder="0" scrolling="0" width="100px" height="32px"></iframe>-->
      </div>
      <div class="pb3 pb4-ns pt4 pt5-ns mt4 black-70 fl-l w-50-l">
        <h1 class="fw6 f2 f1-ns lh-title measure mt0">
          Built for content.
        </h1>

        <p class="f5 f4-ns fw4 b measure dib-m lh-copy">
          Convert browsers to shoppers, shoppers to buyers, buyers to income, on our fast loading and 100% responsive
          website templates.
        </p>


      </div>
      <div class="fl-l w-50-l tl tc-ns pt3 pt4-m pt6-l">
        <div class="bg-light-red pa4">
          <%= get_started_form %>
        </div>
      </div>
    </div>
  </div>
</article>

<article class="bt b--black-10 bg-washed-blue black-70 ph3 ph5-ns pv4 pv5-ns" id="getting-started">
  <div class="mw7 center">
    <h2 id="why-us" class="mt0 f3 f2-ns">Why AAWBuilder?</h2>

    <p class="measure f4 f3-ns lh-copy">
      Marketing Affiliate websites are 50/50 split of <strong>Art</strong> and
      <strong class="underline">Science</strong>.
    </p>

    <p class="measure f4 f3-ns lh-copy">
      Our goal is to cover the scientific portion 100% so that you can focus on the
      <strong>art of <span class="underline">creating content</span></strong>.
    </p>

    <p class="measure f4 f3-ns lh-copy">
      <strong class="fw9">What does this mean?</strong>
      You shouldn't ever have to configure servers, update VPS installations, deal with wordpress updates OR getting
      hacked!
    </p>

    <p class="measure f4 f3-ns lh-copy">
      We provide a clean awesome website and prompt you to fill in content!
      We provide composable building blocks so you can continue focusing on creating and sharing great content.
    </p>

    <p class="measure f4 f3-ns lh-copy"></p>
  </div>
</article>


<section class="cf ph3 ph5-ns pb5 bg-yellow black-70" id="pricing">
  <div class="mw9 center">
    <article class="pv2 fl w-100 ">
      <h1 class="fl w-100 mt5 ttu tracked f2 f1-ns fw6">Pricing</h1>

      <h2 class="f4 f2-ns fw6 mb2">Pay as you Go...</h2>

      <p class="f5 f4-ns measure lh-copy mt0">
        Similar to Wordpress pricing, but our sites are finely tuned to your needs.
      </p>
    </article>
    <table class="ba br3 bw3 b--near-white w-100">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Free</th>
        <th>$4/month</th>
        <th>$10/month</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="bt bb br br0 bw1 b--near-white">
          <h2 class="f4 f2-ns fw6 mb2">Documentation</h2>

          <p class="f5 measure lh-copy mt0">
            Each module is carefully documented. From stats about the size of the module,
            to how each css class will render to the screen.
          </p>
        </td>
        <td class="ba br0 bw1 b--near-white"></td>
        <td class="ba br0 bw1 b--near-white"></td>
        <td class="ba br0 bw1 b--near-white"></td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
