<ul class="center mw6 f3 lh-title">
  <li><%= link_to("How to Build a High-Traffic Web Site (or Blog)","https://www.stevepavlina.com/blog/2006/01/how-to-build-a-high-traffic-web-site-or-blog/", target: "_blank") %></li>
</ul>
