<div class="cf">
  <div class="fl w-third ph3">
    <div class="ba br3 b--black-50">
      <div class="dark-green">STARTER(FREE)</div>
    </div>
  </div>
  <div class="fl w-third ph3">
    <div class="ba br3 b--black-50">
      <div class="gold">LAUNCHER($4/mon)</div>
    </div>
  </div>
  <div class="fl w-third ph3">
    <div class="dark-purple">BUSINESS($10/mon)</div>
  </div>
</div>
