<h2 class="tc">Someone Invited you to join their website!</h2>
<table class="mw7 tc w-100 center ba">
  <thead>
  <tr>
    <th class="ba">Invitation from</th>
    <th class="ba">Account Name</th>
    <th class="ba">Accept</th>
    <th class="ba">Deny</th>
  </tr>
  </thead>
  <tbody>
  <% @invitations.each do |invitation| %>
    <tr>
      <td class="ba"><%= "#{invitation.created_by.email}" %></td>
      <td class="ba"><%= invitation.account.name %></td>
      <td class="ba"><%= link_to('Accept', account_invitation_path(invitation), method: :patch, data: {confirm: "Are you sure you want to accept this invitation??"}) %></td>
      <td class="ba"><%= link_to('Deny', account_invitation_path(invitation), method: :delete, data: {confirm: "Are you sure you want to reject this invitation??"}) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
