<footer class="bg-near-white black-50 mt5 pv5 pv6-l ph4 cf">
  <div class="fl w-third">
    <h2 class="tc site.nav_title"><%= current_site.nav_title %></h2>
  </div>

  <div class="fl w-third">
    <h3 class="tc">sitefooter</h3>
    <ul>
        <li></li>
    </ul>
  </div>
</footer>
