<nav class="db dt-l w-100 border-box pa3 ph5-l system-sans-serif ttu">
  <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="<%= root_path %>" title="Home">Home</a>

  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
    <% current_account.links.each do |link| %>
      <%= link_to(link.name, link.path, class: "link dim dark-gray f6 f5-l dib mr3 mr4-l") %>
    <% end %>
  </div>
</nav>
