<%= content_for(:title, "About Our Shopping Cart") %>
<h1 class="tc">About our Shopping Cart</h1>

<p class="measure-wide center"><%= nav_title %> shopping cart is powered by amazon.
  That means when you click "checkout" we tell amazon the items you want and they fill up your cart automatically.
</p>
<ul>
  <li>We do not process your order. Amazon Does</li>
  <li>We do not have inventory. Amazon Does</li>
  <li>We cannot gaurantee the availability of any items. Amazon Does</li>
</ul>
