<h1 class="tc">Items in your Cart!</h1>

<section class="cf w-100 mw9 center pa6">
  <% @items.each do |item| %>
    <%= render partial: 'lists/list_item_card', locals: {item: item} %>
  <% end %>
</section>
