/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap";


body a {
  color: grey;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: #8C001A;
  }
  #nav-bar ul {
    list-style-type:none;
  }
}

h1 {
  a {
    color: red;
  }
}

#map {
  height: 300px;
  width: 600px;
  margin-bottom: 20px;
}

.add-list {
  padding-top: 30px;
}

.restaurant-image img {
  max-width: 100%;
}

.edit-links a {
  color: grey;
  padding: 5px;
}


.list-box .admin {
  display: none;
}

.list-box.hover .admin {
  display: inline;
}

@media (min-width: 1200px) {
  .container {
    width: 900px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 900px;
  }
}
