<p class="measure-wide center bg-near-white pa4 br3">
  <%= nav_title %> helps collect lists for people who quickly want see good gift ideas.
  When readers choose to buy our picks, we earn affiliate commissions that support our work.
</p>
