<p class="measure-wide center pa4 br3">
  <sstrong><%= nav_title %></sstrong> helps you make affiliate websites.
  Great for Top 10 Lists, Review sites, and brands that want
  to easily display their products on a website.
</p>
