<p class="measure-wide center bg-near-white pa4 br3">
  <%= nav_title %> helps you make amazon affiliate websites. Great for Top 10 Lists, Review sites, and brands that want
  to easily import their Amazon products to a website.
</p>
