<footer class="bg-near-white black-50 mt5 pv5 pv6-l ph4 cf">
  <div class="fl w-third">
    <h3 class="tc">Gift Ideas from Top Brands</h3>
    <ul>
      <% Brand.top_list.limit(10).select(:id, :name, :slug).each do |brand| %>
        <li><%= link_to("Gifts from #{brand.name}", brand_path(brand), class: "tracked ttu") %></li>
      <% end %>
    </ul>
  </div>

  <div class="fl w-third">
    <h2 class="tc"><%= nav_title %></h2>
    <%= render "layouts/about_us" %>
  </div>

  <div class="fl w-third">
    <h3 class="tc">Our Most Popular Gift Lists</h3>
    <ul>
      <% sidebar_items.first(10).each do |item| %>
        <li class="truncate"><%= link_to(item.name, item.path, class: "tracked ttu") %></li>
      <% end %>
    </ul>
  </div>
</footer>
