<div class="mw8 center">
  <h1>Select Account or <%= link_to("Create Another", new_account_path) %></h1>
  <ul>
    <% current_accounts.each do |account| %>
      <li>
        <%= link_to(account.name, account_path(account)) %>
      </li>
    <% end %>
  </ul>
</div>
