<div class="cf mw8 center nl2 nr2">
  <div class="fl w-50 ph2">
    <%= simple_form_for(Account.new) do |f| %>
      <h1>
        <%= f.input :name, label: "Website Name", :autofocus => true, required: true %>
      </h1>

      <%= f.button :submit, "Get Started!" %>
    <% end %>
  </div>
  <div class="fl w-50 ph2">
    <div class="mw7 center">
      <h1>Lets Get Started</h1>
      <ol>
        <li>Pick A Name</li>
      </ol>

      <h2>Build Content, Build Traffic, Get Clicks, Make Money!</h2>
      <h2>Work from Home!</h2>
      <h3>Create your own Business!</h3>
      <h4>BootStrap your 4-hour work week!</h4>
    </div>
  </div>


</div>

